<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link href="./static/css/styles.css" rel="stylesheet">
</head>
<body>
    <nav>
            <ul>
              <li><a href="#home">Home</a></li>
              <li><a href="#news">News</a></li>
              <li><a href="#contact">Contact</a></li>
              <li><a href="#about">About</a></li>
            </ul>
    </nav>
    <header>
        <h1>{% block header_content %}{% endblock %}</h1>
    </header>
    <main>
        <div>
            {% block main_content %}{% endblock %}
        </div>
    </main>
    <footer>
            <p>&copy; 2025 My Website Footer</p>
    </footer>
</body>
</html>