<!DOCTYPE HTML>

<html>
	<head>
		<title>Login</title>
	</head>
	<body>
        <div class="container">
		<h1>Login</h1>
        <!-- This is where our form will go. -->
			<form method="POST" action="{{ url_for('login') }}" novalidate> {# novalidate switches off the browser validation #}
				{{ form.csrf_token }} {#add csrf protection#}
				<p>{{ form.email.label }} <br> {{ form.email(size=30) }} {#  size 30, describes the width of the input#}</p>
				{% for err in form.email.errors %}
					<span style="color:red">{{err}}</span>
				{% endfor %}

				{# When a form is submitted, there may be a number of errors, so a list of errors can be generated
				and passed over to our form HTML as a property on the field which generated the error #}

				<p>{{ form.password.label }} <br> {{ form.password(size=30) }}</p>
				{% for err in form.password.errors %}
					<span style="color:red">{{err}}</span>
				{% endfor %}
				{{ form.submit }}

		</form>
        </div>
	</body>
</html>