<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!--{# Jinja Templating #}-->
<!--{# For multi line statements use {% statement %} for first #}-->
<!--    {% for post in posts: %}-->
<!--        {% if post["id"] == 2: %}-->
<!--            <h1>{{ post["title"] }}</h1>-->
<!--            <h2>{{ post["subtitle"] }}</h2>-->
<!--        {% endif %}-->
<!--{# endif specfies the end of the if statement #}-->
<!--{# For multi line statements use {% endfor %}, {% endif %} for the last line #}-->
<!--{# endfor specfies the end of the for loop #}-->
<!--    {% endfor %}-->



    {# url_for can also take parameters, each parameter must have a name and value: index=post.id #}
    {# <a href="{{ url_for('get_post', index=post.id) }}">READ</a> #}
    {# we can use these parameters in the app.route() in the server, in this case the @app.route('/post') #}

    {% for post in posts: %}
        <h1>{{ post["title"] }}</h1>
        <h2>{{ post["subtitle"] }}</h2>
        <a href="{{ url_for('get_post', index=post.id) }}">READ</a>
    {% endfor %}


<h2></h2>
</body>
